.home {
    background-image: url(../assets/home/background-home-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    padding: 6.4vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
        margin: 13.2vh 0 81px 0;
    }

    &__link {
        display: inline-block;
        width: 150px;
        height: 150px;
        padding: 68px 27.5px 59px 29.5px;
        border-radius: 50%;
        background-color: #ffffff;
        color: #0B0D17;
        font-family: 'Bellefair', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 1.25px;
        margin: 0 auto;
    }
}


@media(min-width:600px){
    .home {
        background-image: url(../assets/home/background-home-tablet.jpg);
        padding: 5vw;
        &__box {
            max-width: 382px;
            row-gap: 24px;
            margin: 19.7vh 0 81px 0;
        }
    
        &__link {
            width: 242px;
            height: 242px;
            padding:103px 48px 102px 46px;
            font-size: 32px;
        }
    }
    
}
@media(min-width:1100px){
    .home {
        background-image: url(../assets/home/background-home-desktop.jpg);
        padding: 40px 11.5vw 131px 11.5vw;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        overflow: hidden;
        &__box {
            max-width: 450px;
            margin: 0;
        }
    
        &__linkBox{
            transition: 0.3s;
            position: relative;
            &::after{
                content: "" ;
                display: block;
                width: 450px;
                height: 450px;
                background-color: #ffffff00; 
                border-radius: 50%;
                position: absolute;
                top: -88px;
                left: -88px;
                transition: 0.8s;
               
            }
            &:hover{
                transition: 0.6s ease-in-out;
                &::after{
                    background-color: #ffffff10; 
                    animation: animationLink 4s ;
                    animation: animationLink2 4s infinite;
                   transition: 0.3s;
                }
            }
        }
        &__link {
            width: 274px;
            height: 274px;
            padding:119px 64px 118px 62px;
            font-size: 32px;
            margin: 0;
            transition: 0.2s ease-in;
            position: relative;
            z-index: 2;
            
        }
    }
    
}


@keyframes animationLink{

    from{
        border: 3px solid #ffffff00;
        transform: scale(0);
    }
    30%{
        border: 3px solid #ffffff80;
        background-color: #ffffff60;
        transform: scale(0.6);
    }
    80%{
        transform: scale(1.3);
        border: 3px solid #ffffff80;
        background-color: #ffffff20;
    }
    100%{
        transform: scale(1);
        border: 1px solid #ffffff20;
    }
}
@keyframes animationLink2{

    from{
        border: 3px solid #ffffff00;
    }
    30%{
        border: 2px solid #ffffff80;
        background-color: #ffffff60;
    }
    80%{
        border: 2px solid #ffffff60;
        background-color: #ffffff20;
    }
    100%{
        border: 1px solid #ffffff20;
    }
}