*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing:border-box;

}

a, button {
    cursor: pointer;
}

.app{
    //padding: 24px;
    background-color: #0B0D17;
    width: 100vw;
    min-height: 100vh;

}